body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.sidebar {
	width: 100%;
	position: fixed;
	left: calc(-100% + 50px);
	height: 100%;
	background: #262626;
	transition: .5s;
}

.sidebar.active {
	left: 0;
}

.toggleBar {
	position: absolute;
	width: 50px;
	height: 100%;
	background: #2196f3;
	right: 0;
	transition: .5s;
}

.toggleBar .toggle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.toggleBar .toggle span {
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
	margin: 7px 0;
	transition: .5s;
}

.toggleBar .toggle.close span:nth-child(1) {
	transform: rotate(-45deg);
}

.toggleBar .toggle.close span:nth-child(3) {
	transform: rotate(45deg);
}
.toggleBar .toggle.close span:nth-child(2) {
	transform: translateX(100px);
	opacity: 0;
}

.menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu ul li{
	position: relative;
	font-size: 3rem;
	text-transform: uppercase;
	padding: 0 20px;
	width: 100%;
	overflow: hidden;
}

.menu ul li a {
	color: #fff;
	text-decoration: none;
}
.menu ul li a:before{
	content: '';
	position: absolute;
	left: -100%;
	bottom: 0;
	height: 20px;
	width: 100%;
	background: #2196f3;
	transition: .5s;
	z-index: -1;
}

.menu ul li a:hover:before{
	left: 0;
}

